language: bash
sudo: required
services:
  - docker

before_install:
  - docker version
  - ls

jobs:
  include:

    # ---- Ch02 : How to use the ansible ---------------------------------------

    # Ansible v2.4
    - stage: Ch02
      script:

        - echo "==> [v2.4] Show version ..."
        - docker run --rm -it chusiang/ansible:2.4 ansible --version

        - echo "==> [v2.4] Check syntax ..."
        - docker run --rm -it -v $PWD:/srv chusiang/ansible:2.4 /bin/sh -c "cd ch02 && ansible-playbook --syntax-check *.yml"

        - echo "==> [v2.4] Run ..."
        - docker run --rm -it -v $PWD:/srv chusiang/ansible:2.4 /bin/sh -c "cd ch02 && ansible-playbook *.yml"

    # Ansible v2.5
    - stage: Ch02
      script:

        - echo "==> [v2.5] Show version ..."
        - docker run --rm -it chusiang/ansible:2.5 ansible --version

        - echo "==> [v2.5] Check syntax ..."
        - docker run --rm -it chusiang/ansible:2.5 ansible --version
        - docker run --rm -it -v $PWD:/srv chusiang/ansible:2.5 /bin/sh -c "cd ch02 && ansible-playbook --syntax-check *.yml"

        - echo "==> [v2.5] Run ..."
        - docker run --rm -it -v $PWD:/srv chusiang/ansible:2.5 /bin/sh -c "cd ch02 && ansible-playbook *.yml"

    # Ansible v2.6
    - stage: Ch02
      script:

        - echo "==> [v2.6] Show version ..."
        - docker run --rm -it chusiang/ansible:2.5 ansible --version

        - echo "==> [v2.6] Check syntax ..."
        - docker run --rm -it chusiang/ansible:2.6 ansible --version
        - docker run --rm -it -v $PWD:/srv chusiang/ansible:2.6 /bin/sh -c "cd ch02 && ansible-playbook --syntax-check *.yml"

        - echo "==> [v2.6] Run ..."
        - docker run --rm -it -v $PWD:/srv chusiang/ansible:2.6 /bin/sh -c "cd ch02 && ansible-playbook *.yml"

    # ---- Ch02-1 : How to deploy the ansible ----------------------------------

    - stage: Ch02-1
      script:

        - echo "==> [v2.4] Show version ..."
        - docker run --rm -it chusiang/ansible:2.4 ansible --version

        - echo "==> [v2.4] Run ..."
        - docker run --rm -it chusiang/ansible:2.4 ansible all -m command -a 'echo Hello World'

    - stage: Ch02-1
      script:

        - echo "==> [v2.5] Show version ..."
        - docker run --rm -it chusiang/ansible:2.5 ansible --version

        - echo "==> [v2.5] Run ..."
        - docker run --rm -it chusiang/ansible:2.5 ansible all -m command -a 'echo Hello World'

    - stage: Ch02-1
      script:

        - echo "==> [v2.6] Show version ..."
        - docker run --rm -it chusiang/ansible:2.6 ansible --version

        - echo "==> [v2.6] Run ..."
        - docker run --rm -it chusiang/ansible:2.6 ansible all -m command -a 'echo Hello World'

    # ---- Ch02-2-1 : How to practive the ansible with vagrant -----------------

    - stage: Ch02-2-1
      script:

        - echo "==> [v2.4] Show version ..."
        - docker run --rm -it chusiang/ansible:2.4 ansible --version

        - echo "==> [v2.4] Run ..."
        - docker run --rm -it chusiang/ansible:2.4 ansible all -m ping

    - stage: Ch02-2-1
      script:

        - echo "==> [v2.5] Show version ..."
        - docker run --rm -it chusiang/ansible:2.5 ansible --version

        - echo "==> [v2.5] Run ..."
        - docker run --rm -it chusiang/ansible:2.5 ansible all -m ping

    - stage: Ch02-2-1
      script:

        - echo "==> [v2.6] Show version ..."
        - docker run --rm -it chusiang/ansible:2.6 ansible --version

        - echo "==> [v2.6] Run ..."
        - docker run --rm -it chusiang/ansible:2.6 ansible all -m ping

    # ---- Ch02-2-2 : How to practive the ansible with docker ------------------

    - stage: Ch02-2-2
      script:

        - echo "==> [v2.4] Show version ..."
        - docker run --rm -it chusiang/ansible:2.4 ansible --version

        - echo "==> [v2.4] Run ..."
        - docker run --rm -it chusiang/ansible:2.4 ansible all -m command -a 'echo Hello World on Docker.'

    - stage: Ch02-2-2
      script:

        - echo "==> [v2.5] Show version ..."
        - docker run --rm -it chusiang/ansible:2.5 ansible --version

        - echo "==> [v2.5] Run ..."
        - docker run --rm -it chusiang/ansible:2.5 ansible all -m command -a 'echo Hello World on Docker.'

    - stage: Ch02-2-2
      script:

        - echo "==> [v2.6] Show version ..."
        - docker run --rm -it chusiang/ansible:2.6 ansible --version

        - echo "==> [v2.6] Run ..."
        - docker run --rm -it chusiang/ansible:2.6 ansible all -m command -a 'echo Hello World on Docker.'

    # ---- Ch02-2-3 : How to practive the ansible with jupyter -----------------

    # control-machine with `chusiang/ansible-jupyter`.
    - stage: Ch02-2-3
      script:

        - echo "==> Install some necessity packages ..."
        - sudo apt-get install -y curl

        - echo "==> Run the ansible-jupyter ..."
        - docker run --name control-machine -p 8888:8888 -d chusiang/ansible-jupyter:ubuntu-16.04

        - echo "==> Show version ..."
        - docker exec -it control-machine python  --version
        - docker exec -it control-machine ansible --version
        - docker exec -it control-machine jupyter --version

        - echo "==> Check the jupyter website ..."
        - curl -I http://localhost:8888/

    # managed-node with `chusiang/ansible-managed-node:ubuntu-16.04`.
    - stage: Ch02-2-3
      script:

        - echo "==> Install some necessity packages ..."
        - sudo apt-get install -y netcat

        - echo "==> Run the managed nodes ..."
        - docker run --name server1 -d -p 30001:22 chusiang/ansible-managed-node:ubuntu-16.04

        - echo "==> Check the ssh service on managed node ..."
        - nc -w 1 -n 127.0.0.1 30001

    # managed-node with `chusiang/ansible-managed-node:centos-7`.
    - stage: Ch02-2-3
      script:

        - echo "==> Install some necessity packages ..."
        - sudo apt-get install -y netcat

        - echo "==> Run the managed nodes ..."
        - docker run --name server2 -d -p 30002:22 chusiang/ansible-managed-node:centos-7

        - echo "==> Check the ssh service on managed node ..."
        - nc -w 1 -n 127.0.0.1 30002

    # ---- Ch02-2-4 : How to practive the ansible with docker compose ----------

    - stage: Ch02-2-4
      script:

        - echo "==> Install some necessity packages ..."
        - sudo apt-get install -y curl netcat

        # Install the docker-compose.
        - sudo curl -L https://github.com/docker/compose/releases/download/1.21.2/docker-compose-$(uname -s)-$(uname -m) -o /usr/local/bin/docker-compose
        - sudo chmod +x /usr/local/bin/docker-compose
        - docker-compose --version

        - echo "==> Run some containers with docker-compose ..."
        - /bin/sh -c "cd ch02-2-4 && docker-compose up -d"

        - echo "==> Show version ..."
        - docker exec -it ch02-2-4_control_machine_1 python  --version
        - docker exec -it ch02-2-4_control_machine_1 ansible --version
        - docker exec -it ch02-2-4_control_machine_1 jupyter --version

        - echo "==> Check the jupyter website ..."
        - curl -I http://localhost:8888/

        - echo "==> Check the ssh service on managed nodes ..."
        - nc -w 1 -n 127.0.0.1 2221
        - nc -w 1 -n 127.0.0.1 2222
        - nc -w 1 -n 127.0.0.1 2223

    # ---- Ch02-3 : Which are the ansible developer tools ----------------------

    - stage: Ch02-3
      script:

        - echo "==> Show version ..."
        - docker run -it --rm chusiang/vim-and-vi-mode:debian9 vim --version

        - echo "==> Install ..."
        - docker run -it -v $PWD/ch02-3:/srv chusiang/vim-and-vi-mode:debian9 /bin/sh -c "cd /srv && make install" . | tee output.debian-9.log

        - echo "==> Check ..."
        - grep "==> Done." output.debian-9.log

    # ---- Ch03-3-3 : how to send notification to slack on ansible -------------

    - stage: Ch03-3-3
      script:

        - echo "==> [v2.4] Show version ..."
        - docker run --rm -it chusiang/ansible:2.4 ansible --version

        - echo "==> [v2.4] Check syntax ..."
        - docker run --rm -it -v $PWD:/srv chusiang/ansible:2.4 /bin/sh -c "cd ch03-3-3 && ansible-playbook --syntax-check *.yml"

        - echo "==> [v2.4] Dry-run ..."
        - docker run --rm -it -v $PWD:/srv chusiang/ansible:2.4 /bin/sh -c "cd ch03-3-3 && ansible-playbook --check *.yml"

    - stage: Ch03-3-3
      script:

        - echo "==> [v2.5] Show version ..."
        - docker run --rm -it chusiang/ansible:2.5 ansible --version

        - echo "==> [v2.5] Check syntax ..."
        - docker run --rm -it -v $PWD:/srv chusiang/ansible:2.5 /bin/sh -c "cd ch03-3-3 && ansible-playbook --syntax-check *.yml"

        - echo "==> [v2.5] Dry-run ..."
        - docker run --rm -it -v $PWD:/srv chusiang/ansible:2.5 /bin/sh -c "cd ch03-3-3 && ansible-playbook --check *.yml"

    - stage: Ch03-3-3
      script:

        - echo "==> [v2.6] Show version ..."
        - docker run --rm -it chusiang/ansible:2.6 ansible --version

        - echo "==> [v2.6] Check syntax ..."
        - docker run --rm -it -v $PWD:/srv chusiang/ansible:2.6 /bin/sh -c "cd ch03-3-3 && ansible-playbook --syntax-check *.yml"

        - echo "==> [v2.6] Dry-run ..."
        - docker run --rm -it -v $PWD:/srv chusiang/ansible:2.6 /bin/sh -c "cd ch03-3-3 && ansible-playbook --check *.yml"

    # ---- Ch03-4 : Facts ------------------------------------------------------

    - stage: Ch03-4
      script:

        - echo "==> [v2.4] Show version ..."
        - docker run --rm -it chusiang/ansible:2.4 ansible --version

        - echo "==> [v2.4] Check syntax ..."
        - docker run --rm -it -v $PWD:/srv chusiang/ansible:2.4 /bin/sh -c "cd ch03-4 && ansible-playbook --syntax-check *.yml"

    - stage: Ch03-4
      script:

        - echo "==> [v2.5] Show version ..."
        - docker run --rm -it chusiang/ansible:2.5 ansible --version

        - echo "==> [v2.5] Check syntax ..."
        - docker run --rm -it -v $PWD:/srv chusiang/ansible:2.5 /bin/sh -c "cd ch03-4 && ansible-playbook --syntax-check *.yml"

    - stage: Ch03-4
      script:

        - echo "==> [v2.6] Show version ..."
        - docker run --rm -it chusiang/ansible:2.6 ansible --version

        - echo "==> [v2.6] Check syntax ..."
        - docker run --rm -it -v $PWD:/srv chusiang/ansible:2.6 /bin/sh -c "cd ch03-4 && ansible-playbook --syntax-check *.yml"

    - stage: Ch03-4
      script:

        - echo "==> Install the requires apt package and python ..."
        - sudo apt-get update
        - sudo apt-get install -y --no-install-recommends linux-headers-generic gcc build-essential python python-pip python-dev libffi-dev
        - sudo apt-get clean

        - echo "==> Install the Ansible ..."
        - sudo apt-get install -y --no-install-recommends python-software-properties software-properties-common
        - sudo add-apt-repository ppa:ansible/ansible -y
        - sudo apt-get update
        - sudo apt-get install -y --no-install-recommends --allow-unauthenticated ansible
        - sudo apt-get clean

        - echo "==> Show version ..."
        - ansible --version

        - echo "==> Run ..."
        - cd ch03-4 && make all

    # ---- Ch03-5 : Loop -------------------------------------------------------

    - stage: Ch03-5
      script:

        - echo "==> [v2.4] Show version ..."
        - docker run --rm -it chusiang/ansible:2.4 ansible --version

        - echo "==> [v2.4] Check syntax ..."
        - docker run --rm -it -v $PWD:/srv chusiang/ansible:2.4 /bin/sh -c "cd ch03-5 && ansible-playbook --syntax-check *.yml"

        - echo "==> [v2.4] Run ..."
        - docker run --rm -it -v $PWD:/srv chusiang/ansible:2.4 /bin/sh -c "cd ch03-5 && make all"

    - stage: Ch03-5
      script:

        - echo "==> [v2.5] Show version ..."
        - docker run --rm -it chusiang/ansible:2.5 ansible --version

        - echo "==> [v2.5] Check syntax ..."
        - docker run --rm -it -v $PWD:/srv chusiang/ansible:2.5 /bin/sh -c "cd ch03-5 && ansible-playbook --syntax-check *.yml"

        - echo "==> [v2.5] Run ..."
        - docker run --rm -it -v $PWD:/srv chusiang/ansible:2.5 /bin/sh -c "cd ch03-5 && make all"

    - stage: Ch03-5
      script:

        - echo "==> [v2.6] Show version ..."
        - docker run --rm -it chusiang/ansible:2.6 ansible --version

        - echo "==> [v2.6] Check syntax ..."
        - docker run --rm -it -v $PWD:/srv chusiang/ansible:2.6 /bin/sh -c "cd ch03-5 && ansible-playbook --syntax-check *.yml"

        - echo "==> [v2.6] Run ..."
        - docker run --rm -it -v $PWD:/srv chusiang/ansible:2.6 /bin/sh -c "cd ch03-5 && make all"

    # ---- Ch03-6 : Template -------------------------------------------------------

    - stage: Ch03-6
      script:

        - echo "==> [v2.4] Show version ..."
        - docker run --rm -it chusiang/ansible:2.4 ansible --version

        - echo "==> [v2.4] Check syntax ..."
        - docker run --rm -it -v $PWD:/srv chusiang/ansible:2.4 /bin/sh -c "cd ch03-6 && ansible-playbook --syntax-check *.yml"

        - echo "==> [v2.4] Run ..."
        - docker run --rm -it -v $PWD:/srv chusiang/ansible:2.4 /bin/sh -c "cd ch03-6 && make all"

    - stage: Ch03-6
      script:

        - echo "==> [v2.5] Show version ..."
        - docker run --rm -it chusiang/ansible:2.5 ansible --version

        - echo "==> [v2.5] Check syntax ..."
        - docker run --rm -it -v $PWD:/srv chusiang/ansible:2.5 /bin/sh -c "cd ch03-6 && ansible-playbook --syntax-check *.yml"

        - echo "==> [v2.5] Run ..."
        - docker run --rm -it -v $PWD:/srv chusiang/ansible:2.5 /bin/sh -c "cd ch03-6 && make all"

    - stage: Ch03-6
      script:

        - echo "==> [v2.6] Show version ..."
        - docker run --rm -it chusiang/ansible:2.6 ansible --version

        - echo "==> [v2.6] Check syntax ..."
        - docker run --rm -it -v $PWD:/srv chusiang/ansible:2.6 /bin/sh -c "cd ch03-6 && ansible-playbook --syntax-check *.yml"

        - echo "==> [v2.6] Run ..."
        - docker run --rm -it -v $PWD:/srv chusiang/ansible:2.5 /bin/sh -c "cd ch03-6 && make all"

notifications:
  slack:
    secure: ahJpJNXaODcNDS8SUCWWR8+WxRLKhmF6Qt3oAwfH13iHJ3JPwpu19zpsE8EPydRcQRv/OcizHsdDePL98VrxMj1fWzFr8QG3v19mUn5rRyvC5/XSdUnuDqQPHVlyKkI52S3/Pvi+cC4Af2eu0en2GwX/NRkH6qoKxGvy2U58Xqt0Md5mYNNk8RqVgzPi+ni4qdf91ILNSBwfmjM90BKLE/n5nHxswhtddmx6YlJkbAgBu07+xqefWkkzu5BRW2h1Y3vaXJr107RmXF/PyJSJKLJ+NACBxRnvwJRvFzxHRA66KuoS5pmub6CwUe/e1uO/l/qXetjSRIFsQYuMEpZxkjSD/mZTwFxuV4+t4g2sLYIVVK2lUtT46N8g0CZ4GxMXJ/1181HCpSTIjKuxvLvRvZAPD3TRrvrfkY/jPwcCOP37/33R1EoxqrRczeNTLiiwjxnF5LuJmX8x0JKQw/G7zx+IwPP5u/onCgOMFBzTkFZbpPIhSEOfJChOuDSq10Rm/7dlSXj0ds4gBQV6hkjvu0yJvgJI1yhRsWL6+rV8h9tvYpVoLapHvYcboDApTlmveg+ZpR4Mfc7pBI+6z9inaj+R1IHBNTvc93VxegF5i5DeevEPqxadajYeibwtOLEjbNXmDEYB3GdXnS0vLgHl0fKIYinmesxvMhP+Atj+tqc=
