<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Ch03-7 | Ansible Book For IT</title>
  </head>
  <body>
<pre>
[ {{ username }}@ansible-book-for-it ~ ]$ cat .profile
- {{ mail }}
- {{ blog }}
</pre>
  </body>
</html>
